
#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

@media print {
  .no-print {
    display: none;
  }
}

.input-number {
  -moz-appearance: textfield;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
