#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}
* {
  transition: 0.5s;
}

@media print {
  .no-print {
    display: none;
  }
}

.input-number {
  -moz-appearance: textfield;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome, Safari, Edge */
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spin[type="number"] {
  -moz-appearance: textfield;
}

.AlertMSG {
  animation: anim 10s infinite alternate-reverse;
}

@keyframes anim {
  0%{
  rotate: 0deg;
  }
  45%{
  rotate: 0deg;
  }
  46%{
  rotate: 4deg;
  }
  47%{
  rotate: -4deg;
  }
  48%{
  rotate: 0deg;
  }
  
}
